    <div class="cards-container">
        <!-- Regular Article Cards -->
        <h2 class="section-title">Featured Articles</h2>
<div class="row">
    <!-- 🌟 SHIMMER CARDS -->
    <ng-container *ngIf="dataLoaded">
        <div class="card shimmer-card" *ngFor="let n of [1, 2, 3, 4]">
            <span class="card-tag shimmer-line shimmer"></span>
            <div class="card-image shimmer-box shimmer"></div>
            <div class="card-content">
                <div class="card-title shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer short"></div>
                <div class="card-footer">
                    <div class="author-image shimmer-round shimmer"></div>
                    <div class="author-name shimmer-line shimmer short"></div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- ✅ ACTUAL CONTENT -->
    <ng-container *ngIf="!dataLoaded">
        <!-- Paste your original blog cards here -->
         <div class="card" *ngFor="let n of row1Cards" [routerLink]="['/survey', n.metaheading]">
                <span class="card-tag {{n.color}}">{{n?.category}}</span>
                <div class="card-image">
                    <img src={{n.thumbnail}} alt={{n.metaheading}}>
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{n?.heading}}</h3>
                    <p class="card-description" [innerHTML]="n?.description"></p>
                    <div class="card-footer">
                        <div class="author-image">
                            <img src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg?semt=ais_hybrid&w=740" alt="Author">
                        </div>
                        <div class="author-name">{{n?.authorName}}</div>
                    </div>
                </div>
            </div>
    </ng-container>
</div>


        <!-- Ad Section -->
        <div class="ad-section">
            <h2>Subscribe Now For Premium Content</h2>
            <p>Get access to exclusive articles, videos, and resources that will help you stay ahead of the curve.</p>
            <a href="#" class="ad-button">Get Started</a>
        </div>
        
        <!-- Row 2 -->
        <div class="row">
               <!-- 🌟 SHIMMER CARDS -->
    <ng-container *ngIf="dataLoaded">
        <div class="card shimmer-card" *ngFor="let n of [1, 2, 3, 4]">
            <span class="card-tag shimmer-line shimmer"></span>
            <div class="card-image shimmer-box shimmer"></div>
            <div class="card-content">
                <div class="card-title shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer short"></div>
                <div class="card-footer">
                    <div class="author-image shimmer-round shimmer"></div>
                    <div class="author-name shimmer-line shimmer short"></div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- ✅ ACTUAL CONTENT -->
    <ng-container *ngIf="!dataLoaded">
        <!-- Paste your original blog cards here -->
         <div class="card" *ngFor="let n of row2Cards" [routerLink]="['/survey', n.metaheading]">
                <span class="card-tag {{n.color}}">{{n?.category}}</span>
                <div class="card-image">
                    <img src="https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2FtcGxlfGVufDB8fDB8fHww" alt="Food">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{n?.heading}}</h3>
                    <p class="card-description" [innerHTML]="n?.description"></p>
                    <div class="card-footer">
                        <div class="author-image">
                            <img src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg?semt=ais_hybrid&w=740" alt="Author">
                        </div>
                        <div class="author-name">{{n?.authorName}}</div>
                    </div>
                </div>
            </div>
    </ng-container>
        </div>
        
        <!-- Row 3 -->
        <div class="row">
               <!-- 🌟 SHIMMER CARDS -->
    <ng-container *ngIf="dataLoaded">
        <div class="card shimmer-card" *ngFor="let n of [1, 2, 3, 4]">
            <span class="card-tag shimmer-line shimmer"></span>
            <div class="card-image shimmer-box shimmer"></div>
            <div class="card-content">
                <div class="card-title shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer"></div>
                <div class="card-description shimmer-line shimmer short"></div>
                <div class="card-footer">
                    <div class="author-image shimmer-round shimmer"></div>
                    <div class="author-name shimmer-line shimmer short"></div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- ✅ ACTUAL CONTENT -->
    <ng-container *ngIf="!dataLoaded">
        <!-- Paste your original blog cards here -->
         <div class="card" *ngFor="let n of row3Cards" [routerLink]="['/survey', n.metaheading]">
                <span class="card-tag {{n.color}}">{{n?.category}}</span>
                <div class="card-image">
                    <img src="https://images.unsplash.com/photo-1579353977828-2a4eab540b9a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2FtcGxlfGVufDB8fDB8fHww" alt="Food">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{n?.heading}}</h3>
                    <p class="card-description" [innerHTML]="n?.description"></p>
                    <div class="card-footer">
                        <div class="author-image">
                            <img src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg?semt=ais_hybrid&w=740" alt="Author">
                        </div>
                        <div class="author-name">{{n?.authorName}}</div>
                    </div>
                </div>
            </div>
    </ng-container>
        </div>
    </div>