<div class="container">
    <div class="row">
      
      <!-- Example Card -->
        <div class="card h-100 shadow-sm">
          <img src="{{image}}">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">
              {{description}}
            </p>
          </div>
          <div class="card-footer text-end">
            <a href="#" class="btn btn-primary">View More...</a>
          </div>
        </div>
  
      <!-- Duplicate and modify cards as needed -->
      
    </div>
  </div>
  