<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center text-lg-start">
      <div class="col-12 col-md">
        <a href="#" class="text-white text-decoration-none" [routerLink]="['about']">About Us</a>
      </div>
      <div class="col-12 col-md">
        <a href="#" class="text-white text-decoration-none" [routerLink]="['contact']">Contact Us</a>
      </div>
      <div class="col-12 col-md">
        <a href="#" class="text-white text-decoration-none" [routerLink]="['privacy-policy']">Privacy Policy</a>
      </div>
      <div class="col-12 col-md">
        <a href="#" class="text-white text-decoration-none" [routerLink]="['terms-and-conditions']">Terms and Conditions</a>
      </div>
      <div class="col-12 col-md">
        <a href="#" class="text-white text-decoration-none" [routerLink]="['disclaimer']">Disclaimer</a>
      </div>
    </div>
  </div>
</footer>
